/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-rows: 30% 70%;
        grid-template-columns: 1fr;
        gap: 1px;
        background-color: #fff;
        padding: 0px;
      }

      .generate-key-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
      }

      .validate-key-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: 100%;
      }

    .pin-area {
        display: flex;
        justify-content: start;
        flex-direction: column;
      }
    .pin-area h3 {
        margin-right: 10px;
        font-size: 25px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-top: 10px;
      }
      .pin-area input {
        padding: 17px 0;
        width: 170px;
        margin-bottom: 10px;
      }
    .input-area {
        margin-top: 20px;
        grid-template-columns: 50% 50%;
        gap: 10px;
      }
      .input-area input[type=button] {
        padding: 7px 20px;
        font-size: 16px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {

    .grid-container {
        display: grid;
        grid-template-rows: 30% 70%;
        grid-template-columns: 1fr;
        gap: 1px;
        background-color: #fff;
        padding: 0px;
      }

      .generate-key-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
      }

      .validate-key-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: 100%;
      }

    .pin-area {
        display: flex;
        justify-content: start;
        flex-direction: column;
      }
    .pin-area h3 {
        margin-right: 10px;
        font-size: 25px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-top: 10px;
      }
      .pin-area input {
        padding: 17px 0;
        width: 170px;
        margin-bottom: 10px;
      }
    .input-area {
        margin-top: 20px;
        grid-template-columns: 50% 50%;
        gap: 10px;
      }
      .input-area input[type=button] {
        padding: 7px 20px;
        font-size: 16px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .pin-area h3 {
        margin-right: 20px;
        font-size: 25px;
      }
      .pin-area input {
        padding: 17px 0;
        width: 170px;
      }
    .input-area {
        margin-top: 20px;
        grid-template-columns: 33.33% 33.33% 33.33%;
        gap: 10px;
      }
      .input-area input[type=button] {
        padding: 7px 20px;
        font-size: 16px;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .input-area input[type=button] {
        padding: 7px 20px;
        font-size: 16px;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .example {background: pink;}
  }